/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img {
    max-width: 100%;
}

/* COMMON */
.d-border {
    border: 1px dashed #ffffff;
}

/* UTILITY */
.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
    align-content: space-between;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Icons */
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    width: 60px;

    padding-top: 5px;

    text-align: center;
}

.icon-container .icon {
    position: relative;

    width: 100%;
    height: 70%;

    font-size: 2rem;
}

.icon-container .caption {
    width: 100%;
    height: 30%;

    font-size: 1rem;
}

.icon-container .icon-only {
    width: 100%;
    height: 65px;
    line-height: 65px;

    font-size: 1rem;
}

/* MAIN */
main {
    background-color: #000000;
}

.main-container {
    width: 100%;
    height: 100vh;
}

/* Main view */
.main-view {
    width: 100%;
    height: calc(100% - 70px);

    padding: 50px 75px 20px;

    overflow: auto;
    /* DEBUG */
    background-color: blue;
}

.row {
    width: 100%;
    height: 100%;
}

.col {
    position: relative;
    width: calc(100% / 7 - 6px);
    max-height: 200px;

    margin: 3px;
    
    /* DEBUG */
    /* width: 200px;
    height: 100px; */
    
    /* align-content:space-between ; */
    background-color: aquamarine;
    /* padding: 0.2em; */
}

.card {
}

.col img{
    display: block;
    /* position: absolute; */
}

.col .user-mic-name {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 0.9rem;
    padding: 0.2em;
    color:#ffffff;
    background-color: #99999988;

    z-index: 1;
}

/* View Settings */
.view-settings {
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-settings span {
    display: inline-block;
    
    margin-left: 5px;
    padding: 4px;
    border-radius: 5px; 

    color: #ffffff;
    background-color: #99999988;
}

/* Toolbar */
.toolbar {
    width: 100%;
    height: 70px;

    color:#ffffff;

    /* DEBUG */
    background-color: #222222;
}

.audio-video-set {
    height: 100%;

    /* DEBUG */
    /* width: 100px; */
}

/* .audio-video-set .audio-set {
    display: inline-block;
}

.audio-video-set .video-set {
    display: inline-block;
} */

.main-tools {
    height: 100%;

    /* DEBUG */
    width: 50%;
}

.end-call {
    height: 100%;

    background-color: #4a4a4a;

    /* DEBUG */
    width: 100px;
}