/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img {
    max-width: 100%;
}

/* COMMON */
.d-border {
    border: 1px dashed #ffffff;
}

/* UTILITY */
.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
    align-content: space-between;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green {
    color: #00ff00;
}

/* MAIN */
main {
    background-color: #000000;
}

.main-container {
    width: 100%;
    height: 100vh;
}

/* Main view */
.main-view {
    width: 100%;
    height: calc(100% - 70px);

    padding: 50px 75px 20px;

    overflow: auto;
    /* DEBUG */
    /* background-color: blue; */
}

.row {
    width: 100%;
    height: 100%;
}

.col {
    position: relative;
    width: calc(100% / 7 - 6px);
    max-height: 200px;

    margin: 3px;

    /* DEBUG */
    background-color: aquamarine;
}

.card {
}

.col img{
    display: block;
}

.col .user-mic-name {
    position: absolute;
    bottom: 0;
    left: 0;

    font-size: 0.9rem;
    padding: 0.2em;
    color:#ffffff;
    background-color: #99999988;

    z-index: 1;  
}

/* View Settings */
.view-settings {
    position: absolute;
    top: 5px;
    right: 5px;
}

.view-settings span {
    display: inline-block;
    
    margin-left: 5px;
    padding: 4px;
    border-radius: 5px; 

    color: #ffffff;
    background-color: #99999988;
}

/* Toolbar */
.toolbar {
    position: relative;

    width: 100%;
    height: 70px;

    color:#ffffff;
    background-color: #222222;
}

.audio-video-set {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-start;
    column-gap: 1em;

    width: 20%;
    height: 100%;
}

.main-tools {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    column-gap: 1em;
    height: 100%;
}

.end-call {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;
    line-height: 70px;
    text-align: center;
    padding: 0 1em;

    color: #ff0000;
    background-color: #4a4a4a;
}
/* Icons */
.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 100%;

    padding: 5px 5px;
}

.icon-container .icon {
    font-size: 2rem;
}

.icon-container .caption {
    font-size: 1rem;
}

.icon-container .icon-only {
    font-size: 1rem;
}

